*{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
#heading{
    text-align: center;
    font-family: cursive;
}
p{
    border: none;
    background-color: rgb(153, 153, 153);
    clear: right;
    font-family: cursive;
    font-size:18px;
    color:black;
    padding: 9px; 
    text-align: justify;  
    margin-top: 12px; 
}

.row{
    width: 100%;
}

div > div{
    padding-left: 8px;
    padding-right: 10px;
    height:220px;
    margin-bottom: 20px;
}

.box{
    height: 40px;
    width: 180px;
    font-family: cursive;
    font-size: 22px;
    text-align: center;
    float: right;
    padding-top: 5px;
    border: 2px solid black;
}

#box1{
    background-color: rgb(213, 152, 152);
    color: black;
}
#box2{
    background-color: rgb(193, 69, 67);;
    color: white;
}
#box3{
    background-color: rgb(229, 209, 152);
    color: black;
}

@media (min-width:991px){
     .col-lg-4{
        width: 33%;
        float: left;
    }
}

 @media (min-width: 768px) and (max-width:992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        float: left;
        margin-bottom: 9px;
        margin-top: 9px;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
 }
 .container{
    background-color: rgb(153, 153, 153);
    border: 3.5px solid black;
    overflow:auto;
    padding: unset;
 }
 div.box{
    position: sticky;
    top: 0px;
    left:24px
 }

